<h3>Woordenlijsten</h3>

<div class="row">
    <div class="col-md-4">
        <ul class="list-group">
            <questionlist-overview
                [questionLists]="questionLists$ | async"
                [selectedList]="(selectedList$ | async)?.id"
                (onSelect)="selectList($event)"></questionlist-overview>
        </ul>

        <a class="btn btn-default" (click)="new()">Nieuwe woordenlijst</a>
    </div>
    <div class="col-md-8">
        <questionlist-form
            [questionList]="selectedList$ | async"
            [isValid]="listIsValid$ | async"
            [isPristine]="listIsPristine$ | async"
            (onSave)="save($event, false)"
            (onDelete)="delete($event)"
            (onChange)="changed($event)"
            *ngIf="!!(selectedList$ | async)"></questionlist-form>
        <no-questionlist-selected *ngIf="!(selectedList$ | async)"></no-questionlist-selected>
    </div>
</div>

