<div id="search-component">
    <h4>Hero Search</h4>
    <div class="form-group has-feedback">
        <input class="form-control" #searchBox id="search-box" (keyup)="search(searchBox.value)" />
      <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
    </div>
    <div>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let hero of heroes | async">
          <a (click)="gotoDetail(hero)">{{hero.name}}</a>
        </li>
      </ul>
    </div>
  </div>