<h3>Woordenlijsten</h3>

<div class="row">
    <div class="col-md-4">
        <ul class="list-group">
            <ng-container *ngFor="let questionList of questionLists | async">
                <a class="list-group-item" [routerLink]="[questionList.id]" routerLinkActive="active">
                    <h4>{{questionList.title}} <span class="badge pull-right">{{questionList.questionsCount}}</span></h4>
                    <p class="list-group-item-heading">{{questionList.questionTitle}} - {{questionList.answerTitle}}</p>
                </a>
            </ng-container>
        </ul>
    </div>
    <div class="col-md-8">
        <router-outlet></router-outlet>
    </div>
</div>

