<form #form="ngForm" (submit)="save()">
    <div class="btn-group pull-right">
        <button type="submit" class="btn btn-success" [disabled]="!form.form.valid || form.form.pristine"><span class="glyphicon glyphicon-floppy-disk"></span> Opslaan</button>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="form-group col-sm-10" formValidationStyle>
            <label for="title" class="control-label">Titel</label>
            <input type="text" class="form-control" id="title" name="title" [(ngModel)]="questionList.title" required  />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-5" formValidationStyle>
            <label for="questionTitle" class="control-label">Vraagtaal</label>
            <input type="text" class="form-control" id="questionTitle" name="questionTitle" [(ngModel)]="questionList.questionTitle" required />
        </div>
        <div class="form-group col-sm-5" formValidationStyle>
            <label for="answerTitle" class="control-label">Antwoordtaal</label>
            <input type="text" class="form-control" id="answerTitle" name="answerTitle" [(ngModel)]="questionList.answerTitle" required />
        </div>
    </div>
    <hr />
    <div class="row" *ngFor="let question of questionList.questions;let index = index; let last = last">
        <div class="form-group col-sm-5" formValidationStyle>
            <input type="text" class="form-control" id="question" name="question{{index}}" [(ngModel)]="question.question" required />
        </div>
        <div class="form-group col-sm-5" formValidationStyle>
            <input type="text" class="form-control" id="answer" name="answer{{index}}" (keydown.tab)="!last || addQuestion();" [(ngModel)]="question.answer" required />
        </div>
        <div class="col-sm-1">
            <button class="btn btn-default" type="button" (click)="removeQuestion(question)"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
    </div>
    <div>
        <button class="btn btn-default" type="button" (click)="addQuestion()"><span class="glyphicon glyphicon-plus"></span> regel toevoegen</button>
    </div>
</form>
