<div class="row">
    <div class="col-lg-offset-3 col-lg-6" style="margin-top: 50px;">
        <rehearsal-progress [currentQuestion]="answeredQuestions | async" [totalQuestions]="totalQuestions | async"></rehearsal-progress>

        <div class="well well-lg">
            <ng-container [ngSwitch]="(currentQuestion | async).type" *ngIf="!(isFinished | async)">
                <open-rehearsal-question *ngSwitchCase="'OpenRehearsalQuestion'" [question]="currentQuestion | async" [answerResult]="currentResult | async" (onSubmit)="submitAnswer($event)" (onNext)="gotoNext()"></open-rehearsal-question>
                <multiplechoice-question *ngSwitchCase="'MultipleChoiceQuestion'" [question]="currentQuestion | async" [answerResult]="currentResult | async" (onSubmit)="submitAnswer($event)" (onNext)="gotoNext()"></multiplechoice-question>
            </ng-container>

            <div *ngIf="isFinished | async">
                <rehearsal-statistics [incorrectQuestions]="incorrectQuestions | async"></rehearsal-statistics>

                <div class="row">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="button" class="btn btn-success" (click)="repeat()">Herhalen</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
