<div class="row">
    <div class="col-lg-offset-3 col-lg-6" style="margin-top: 50px;">
        <rehearsal-progress [currentQuestion]="answeredQuestions | async" [totalQuestions]="totalQuestions | async"></rehearsal-progress>

        <div class="well well-lg">
            <rehearsal-question [question]="currentQuestion | async" [answerResult]="currentResult | async" (onSubmit)="submitAnswer($event)" (onNext)="gotoNext()" *ngIf="!(isFinished | async)"></rehearsal-question>
            <p class="text-info text-center" *ngIf="isFinished | async">Dat wassum</p>
        </div>
    </div>
</div>
