<h3>Woordenlijsten</h3>

<div class="row">
    <div class="col-md-4">
        <ul class="list-group">
            <questionlist-overview
                [questionLists]="questionLists$ | async"
                [selectedList]="(selectedList$ | async)?.id"
                (onSelect)="selectList($event)"></questionlist-overview>
        </ul>

        <a class="btn btn-default" (click)="new()">Nieuwe woordenlijst</a>
    </div>
    <div class="col-md-8">
        <questionlist-buttons
            (onSave)="save()"
            [canSave]="canSave$ | async"
            (onDelete)="delete()"
            [canDelete]="canDelete$ | async"
            (onCopy)="copy()"
            [canCopy]="canCopy$ | async"
            (onSwap)="swap()"
            [canSwap]="canSwap$ | async"></questionlist-buttons>
        <!--<questionlist-form
            [questionList]="selectedList$ | async"
            (onSave)="save()"
            [canSave]="canSave$ | async"
            (onChange)="changed($event)"
            *ngIf="!!(selectedList$ | async)"></questionlist-form>-->
        <questionlist-form [formState]="formState$ | async"
            (onNewLine)="newLine()" (onRemoveLine)="removeLine($event)"></questionlist-form>
        <no-questionlist-selected *ngIf="!(selectedList$ | async)"></no-questionlist-selected>
    </div>
</div>

